.staff-card {
    &__link {
        border: 0 !important;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:before {
            // image colour overlap
            content: "";
            @apply absolute block h-full w-full top-0;
            background: theme("colors.secondaryColour");
            transition: all 0.3s ease-in-out;
            opacity: 0;
        }

        &::after {
            opacity: 0;
            transition: all 0.3s;
            width: 80px;
            height: 40px;
            right: 30px;
            top: 30px;
            content: url('/public/_resources/build/images/svgs/icon-arrow-white.svg');
            @apply block absolute;
        }

        &:hover {
            &:before {
                opacity: 0.87;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    &__photo {
        height: 260px;
    }

    &__category {
        font-size: 12px;
        letter-spacing: 3px;
        @apply text-primaryColour uppercase;

        @include mq("md") {
            font-size: 15px;
        }
    }

    &__name {
        font-size: 20px;

        @include mq("md") {
            font-size: 30px;
        }
    }

    &__jobtitle {
        font-size: 16px;

        @include mq("lg") {
            font-size: 18px;
        }
    }
}

/* The Modal (background) */
.modal-container {
    background-color: rgba(1, 80, 159, 0.4);
    /* Fallback color */
    background: rgba(1, 80, 159, 0.4) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(4px);
    display: none;

    &.is-open {
        @apply flex;
    }
}

.modal-content {
    animation-name: fadein;
    animation-duration: 0.4s;

    &::before {
        content: "";
        background-color: theme("backgroundColor.secondaryColour");
        @apply block absolute -top-3 md:-top-5 -left-3 md:-left-5 h-full w-full z-10;
    }
}

.modal-body {
    max-height: 568px;
    @apply mx-auto;
}

/* modal Animation */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.no-scroll {
    @apply overflow-hidden;
}
