$image-offset-position: 10px;

.element-media {
    img {
        z-index: 2;
        position: relative;
        object-fit: cover;

        @apply w-full;

        &.full-width-image {
            height: rem(220);

            @include mq('md') {
                height: rem(500);
            }

            @include mq('lg') {
                height: rem(720);
            }
        }

        &.content-width-image {
            height: rem(220);

            @include mq('md') {
                height: rem(350);
            }

            @include mq('lg') {
                height: rem(450);
            }
        }

        &.stacked-1 {
            height: rem(290);

            @include mq('md') {
                height: rem(395);
            }

            @include mq('lg') {
                height: rem(550);
            }
        }

        &.stacked-2 {
            height: rem(195);

            @include mq('md') {
                height: rem(270);
            }

            @include mq('lg') {
                height: rem(360);
            }
        }

        &.stacked-3 {
            height: rem(180);

            @include mq('md') {
                height: rem(220);
            }

            @include mq('lg') {
                height: rem(306);
            }
        }

        &.step-image {
            height: rem(320);

            @include mq('md') {
                height: rem(320);
            }

            @include mq('lg') {
                height: rem(480);
            }
        }
    }

    .media-container {
        position: relative;

        @apply mx-auto;

        @include mq('md') {
            max-width: rem(540);
        }

        @include mq('lg') {
            max-width: rem(800);
        }

        &.media-offset {
            @include mq('md') {
                max-width: calc(540px - #{$image-offset-position} * 2);
            }

            @include mq('lg') {
                max-width: calc(800px - #{$image-offset-position} * 2);
            }
        }
    }

    .bg-colour-offset {
        position: relative;
        width: calc(100% - #{$image-offset-position});
        margin-left: rem($image-offset-position);

        @include mq('md') {
            margin-left: rem($image-offset-position * 2);
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            background: inherit;
            left: -$image-offset-position;
            top: $image-offset-position;
            height: calc(100% - #{$image-offset-position} * 2);
            z-index: 1;

            @include mq('md') {
                left: -$image-offset-position * 2;
                top: $image-offset-position * 2;
                height: calc(100% - #{$image-offset-position} * 4);
            }
        }

        &.self-end {
            margin-left: 0;

            @include mq('md') {
                margin-left: -#{rem($image-offset-position)};
            }

            &::after {
                top: unset;
                left: unset;
                right: -$image-offset-position;
                bottom: -$image-offset-position;

                @include mq('md') {
                    right: -$image-offset-position * 2;
                    bottom: -$image-offset-position * 2;
                }
            }
        }
    }

    .image-caption {
        margin-top: rem(15);

        @apply text-black;
        @apply uppercase;
        @apply text-xs;

        @include mq('md') {
            margin-top: rem(20);
        }

        &.text-offset {
            margin-left: $image-offset-position;

            @include mq('md') {
                margin-top: $image-offset-position * 2;
                margin-left: $image-offset-position * 2;
            }

            & .flex-col-reverse {
                margin-left: 0;
            }
        }
    }

    .video-background {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

        iframe {
            position: absolute;
            top: -5%;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__player {
            iframe {
                top: 0;
            }
        }

        #play-button,
        .play-icon {
            height: 100%;
        }
    }
}

.alternating-images:nth-of-type(even) {
    @include mq('md') {
        flex-flow: row-reverse;

        .alternating__content {
            margin-right: rem(100);
        }
    }

    @include mq('lg') {
        .alternating__content {
            padding-left: rem(20px);
        }
    }

    .bg-colour-offset {
        margin-left: 0;

        @include mq('md') {
            margin-left: -#{rem(10)};
        }

        &::after {
            left: unset;
            right: -$image-offset-position;
            height: calc(100% - #{$image-offset-position} * 2);

            @include mq('md') {
                right: -$image-offset-position * 2;
                height: calc(100% - #{$image-offset-position} * 4);
            }
        }
    }
}

.alternating-images:nth-of-type(odd) {
    @include mq('md') {
        .alternating__content {
            margin-left: rem(100);
        }
    }

    @include mq('lg') {
        .alternating__content {
            padding-right: rem(20px);
        }
    }
}
