.elementgenericcontent,
.body-content {
    a {
        color: theme('textColor.primaryColour');
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: theme('textColor.primaryColour');
        overflow-wrap: break-word;
        line-height: 1;

        @apply mb-5;
        @apply mt-10;
    }

    h2,
    .h2 {
        @apply mb-10;
    }

    h3,
    .h3 {
        @apply mb-7;
    }

    .headline {
        @apply font-headingBold;
    }

    p,
    code,
    kbd,
    .body {
        @apply mb-5;
    }

    .remove-margin-top > :first-child {
        margin-top: 0;
    }

     .remove-margin-top > :last-child {
        margin-bottom: 0;
    }
}

.elementalert {
    a {
        white-space: break-spaces !important;
    }
}
