.elementpromotionalhighlight {
    .story-category {
        font-size: rem(12);

        @apply tracking-widest;
        @apply uppercase;

        @include mq('md') {
            font-size: rem(15);
        }
    }

    .story-title {
        font-size: rem(25);

        @apply mb-2;

        @include mq('md') {
            font-size: rem(40);
        }
    }

    .story-content-text {
        @include mq('md') {
            font-size: rem(20);
            line-height: rem(35);
        }

        @include mq('lg') {
            font-size: rem(24);
            line-height: 1.88;
        }
    }

    .story_image {
        &-left {
            @apply mb-10;
            @apply lg:mb-0;
        }

        &-right {
            @apply mt-10;
            @apply md:mt-0;
            @apply lg:mt-0;
        }

        &-top {
            margin-top: -250px;

            @include mq('md') {
                margin-top: -196px;
            }
        }

        &-bottom {
            @apply mt-0;

            margin-bottom: -250px;

            @include mq('md') {
                margin-top: 120px;
            }

            @include mq('lg') {
                margin-top: 0;
                margin-bottom: -176px;
            }
        }

        img {
            height: rem(350);
            max-width: rem(268);

            @apply object-cover;
            @apply w-full;

            @include mq('md') {
                height: rem(420);
                max-width: rem(620);
            }

            @include mq('lg') {
                height: rem(700);
            }
        }
    }

    .multiple-story_images {
        img {
            @apply object-cover;
            @apply w-full;
        }

        .first img {
            height: rem(200);

            @include mq('md') {
                height: rem(420);
            }
        }

        .second img {
            height: rem(105);

            @include mq('md') {
                height: rem(168);
            }

            @include mq('lg') {
                height: rem(200);
            }
        }

        .third img {
            height: rem(140);

            @include mq('md') {
                height: rem(256);
            }

            @include mq('lg') {
                height: rem(300);
            }
        }
    }
}
