.elementpanelbanner {
    .subtitle {
        font-size: rem(12px);

        @apply uppercase;
        @apply tracking-widest;

        @include mq('md') {
            font-size: rem(15);
        }
    }

    .panel-content {
        padding-top: 2rem;

        @include mq('md') {
            padding-top: 1.75rem;
        }

        @include mq('lg') {
            padding-top: 2rem;
        }
    }

    .panel-image-container {
        height: rem(250px);

        @include mq('md') {
            height: rem(324px);
        }

        @include mq('lg') {
            height: rem(310px);
        }
    }

    .alternate-text-colour {
        .subtitle {
            color: theme('textColor.primaryColour');
        }

        a.link {
            color: theme('textColor.primaryColour') !important;

            &::before {
                background-image: url('/public/_resources/build/images/svgs/learn-more-icon-hover.svg') !important;
            }
        }
    }
}
