.elementcalltoaction {
    .cta-grid {
        @include mq('md') {
            grid-template-rows: 2rem auto auto;
        }

        @include mq('lg') {
            grid-template-rows: 4.5rem auto auto;
        }

        &.no-cta {
            @include mq('md') {
                grid-template-rows: 3rem auto auto;
            }

            @include mq('lg') {
                grid-template-rows: 6.5rem auto auto;
            }
        }

        img {
            height: rem(170);

            @include mq('md') {
                height: rem(350);
            }

            @include mq('lg') {
                height: rem(600);
            }
        }

        .cta-content {
            min-height: 100%;

            @include mq('md') {
                min-height: 400px;
            }

            @include mq('lg') {
                min-height: 450px;
            }
        }
    }
}
