.elementpromotionaltiles {
    .related-posts {
        .post-wrapper {
            .featured-image-container {
                height: 220px;

                @include mq('md') {
                    height: 260px;
                }

                @include mq('lg') {
                    height: 460px;
                }
            }
        }

        .tile {
            @apply w-full;

            @include mq('md') {
                @apply w-2/5;
            }

            &:nth-child(4n+1),
            &:nth-child(4n+4) {
                @apply w-full;

                @include mq('md') {
                    @apply w-3/5;
                }
            }
        }
    }
}
