.elementcategoryblock {
    .related-posts {
        .post-wrapper {
            .featured-image-container {
                height: rem(275);

                @include mq('md') {
                    height: rem(285);
                }
            }

            .read-more {
                display: initial;

                @include mq('lg') {
                    display: none;
                }
            }
        }

        // if display first 2 items as Featured (2/3 + 1/3 width).
        .first-featured-item,
        .second-featured-item {
            .post-wrapper {
                .featured-image-container {
                    @include mq('lg') {
                        height: rem(385);
                    }
                }
            }
        }
    }
}
