.elementfeaturedbanner {
    &.c-container {
        @include mq('md') {
            padding: 1.5rem;
        }

        @include mq('lg') {
            padding: 0;
        }
    }

    .featured-image {
        width: rem(600);
        height: rem(170);

        @include mq('md') {
            width: rem(360);
            height: rem(240);
        }

        @include mq('lg') {
            width: rem(600);
            height: rem(430);
        }
    }

    .offset-arrow {
        bottom: rem(10);

        @include mq('md') {
            bottom: rem(30);
        }

        @include mq('lg') {
            bottom: unset;
            top: rem(140);
        }
    }
}
