.elementnumberedlist {
    padding: rem(30) 1rem;

    @include mq('md') {
        padding: rem(50) 1rem;
    }

    &.bg-present {
        padding: rem(90) 1rem;

        @include mq('md') {
            padding: rem(150) 1rem;
        }
    }

    .list-title {
        margin-bottom: rem(30);

        @apply font-semibold;
        @apply text-center;

        @include mq('md') {
            margin-bottom: rem(50);
        }
    }

    .item-title {
        font-size: rem(20);
        line-height: 1.33;
        margin-bottom: rem(10);

        @include mq('md') {
            font-size: rem(30);
            margin-bottom: rem(20);
        }
    }

    .item-content {
        font-size: rem(18);
        line-height: 1.56;

        @include mq('md') {
            font-size: rem(25);
            line-height: 1.4;
        }
    }

    .list-component {
        counter-reset: listCount;

        .list-counter {
            &::before {

                top: 0;
                counter-increment: listCount;
                content: counter(listCount, decimal-leading-zero) ' ';
                line-height: 1;
                font-size: rem(30);
                letter-spacing: -1px;

                @apply relative;

                @include mq('md') {
                    font-size: rem(100);
                    letter-spacing: -4px;
                    top: rem(-14px);
                }

                @include mq('lg') {
                    font-size: rem(125);
                    letter-spacing: -5px;
                    top: rem(-14px);
                }
            }
        }
    }
}
