.elementcarousel {
    .slide-height,
    .swiper-container {
        max-height: rem(200);

        @include mq('md') {
            max-height: rem(330);
        }

        @include mq('lg') {
            max-height: rem(580);
        }
    }

    /* wide image carousel */
    .hero-image-no-content {
        .slide-height,
        .swiper-container {
            @include mq('md') {
                max-height: rem(380);
            }

            @include mq('lg') {
                max-height: rem(610);
            }
        }
    }

    .navigation-holder {
        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 40px;
            height: 40px;
            transition: background-color 0.3s ease-in-out;
            background: rgba(255, 255, 255, 0.9);
            position: absolute;
            top: 50%;

            @media (min-width: theme('screens.md')) {
                top: 48%;
                width: 60px;
                height: 60px;
            }

            &::after {
                display: none;
            }

            &:hover {
                background: theme('colors.secondaryColour');
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}
