.elementaccordion-accordion {
    ul,
    ol,
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply mb-5;
    }

    p strong {
        font-weight: 800 !important;
    }

    ul {
        li {
            padding-left: 1.75rem;
            margin-bottom: 5px;
            position: relative;

            @apply body;

            @media (min-width: theme('screens.sm')) {
                margin-bottom: 10px;
            }

            &::before {
                content: '\2014';
                position: absolute;
                left: 0;
            }

            ul {
                @apply mb-0;
            }
        }
    }

    ol {
        list-style: auto;
        padding-left: 1.25rem;

        @apply body;

        ol {
            list-style-type: lower-alpha;

            @apply mb-0;
        }

        li {
            padding-left: 0.5rem;
            margin-bottom: 5px;

            @media (min-width: theme('screens.sm')) {
                margin-bottom: 10px;
            }
        }
    }

    a {
        color: theme('textColor.primaryColour');
    }

    .apply-link-style {
        a {
            color: theme('textColor.primaryColour');
        }
    }

    .text-white {
        a {
            color: theme('textColor.white') !important;
        }
    }
}

.elementaccordion-accordion__header {
    display: block;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-family: theme('fontFamily.bodyHeavy');
    border-bottom: 1px solid;
    padding-bottom: 20px;
    position: relative;
    font-size: 1rem;
    line-height: 1.25rem;

    @media (min-width: theme('screens.sm')) {
        font-size: inherit;
        line-height: inherit;
        padding-bottom: 30px;
    }

    &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 1px 1px 0 0;
        display: inline-block;
        height: 10px;
        right: 5px;
        transform: rotate(135deg);
        vertical-align: top;
        width: 10px;
        top: 4px;

        @media (min-width: theme('screens.sm')) {
            height: 12px;
            width: 12px;
        }
    }
}

.elementaccordion__header:focus {
    outline: 1px dotted;
}

[aria-expanded='true'].elementaccordion-accordion__header {
    border-color: transparent;

    &::before {
        transform: rotate(-45deg);
        top: 12px;
    }
}

.elementaccordion-accordion__title {
    padding-top: 20px;

    @media (min-width: theme('screens.sm')) {
        padding-top: 30px;
    }
}

.elementaccordion-accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    max-height: 100em;
    visibility: visible;
    margin: 0;
    border-bottom: 1px solid white;

    &.no-bg {
        border-bottom: 1px solid theme('colors.primaryColour');
    }
}

/* This is the hidden state */
[aria-hidden='true'].elementaccordion-accordion__panel {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
