.elementpartnergrid {
    .border-wrap {
        border-top: 1px solid;
        border-left: 1px solid;
    }

    .partner-item {
        height: 320px;

        border-right: 1px solid;
        border-bottom: 1px solid;

        @include mq('md') {
            height: 380px;
        }

        &:hover {
            .default-img {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .hover-img {
                opacity: 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}
