.elementtitlecards {
    @apply px-4;

    @include mq('md') {
        @apply px-4;
    }

    @include mq('lg') {
        @apply px-0;
    }

    &__card {
        @apply relative;
        @apply block;
        @appy h-full;
    }

    &__link {
         &:hover {
            .elementtitlecards__image {
                &::after {
                    opacity: 1;
                }

                &::before {
                    opacity: 0.9;
                }
            }
        }
    }

    &__title {
        z-index: 1;

        @apply absolute;
        @apply bottom-0;
        @apply px-5;
        @apply px-2;
        @apply bg-primaryColour;
        @apply whitespace-normal;
    }

    &__image {
        height: 380px;

        @include mq('md') {
            height: 350px;
        }

        @include mq('lg') {
            height: 530px;
        }

        @apply relative;

        &::before {
            content: '';
            background-color: theme('colors.secondaryColour');
            opacity: 0;
            transition: all 0.3s;

            @apply absolute;
            @apply block;
            @apply h-full;
            @apply w-full;
            @apply top-0;
            @apply top-0;
        }

        &::after {
            opacity: 0;
            transition: all 0.3s;
            width: 80px;
            height: 40px;
            right: 30px;
            top: 30px;
            content: url('/public/_resources/build/images/svgs/icon-arrow-white.svg');

            @apply absolute;
            @apply block;
        }
    }
}
