.element-tabs {
    .tablinks,
    .tablinks2 {

        font-family: theme('fontFamily.body');
        font-size: rem(25px);

        @apply mr-12;
        @apply pb-4;

        @media (max-width: theme('screens.lg')) {

            font-size: rem(22px);

            @apply mr-12;
        }

        &.active {
            font-family: theme('fontFamily.bodyHeavy');
            border-bottom: 3px solid theme('backgroundColor.secondaryColour');
        }
    }

    #scrolling-tabs {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    #scrolling-tabs::-webkit-scrollbar {
        width: 0 !important;
    }
}
