.element-header {

    /* stylelint-disable */
    .reduce-line-height {
        margin-bottom: rem(20);

        h1,
        .event-heading {
            &.medium-size,
            &.small-size {
                line-height: 1.1 !important;

                span {
                    line-height: 1.1 !important;
                }
            }

            &.large-size {
                line-height: 1.1 !important;

                span {
                    line-height: 1.1 !important;
                }
            }
        }
    }

    h1,
    .event-heading {
        /* story header long title */
        &.small-size {
            font-size: 1rem;
            letter-spacing: rem(4px);
            line-height: 1.55;

            @include mq('md') {
                font-size: rem(25px);
                letter-spacing: rem(5px);
                line-height: 1.65;
            }

            @include mq('lg') {
                font-size: rem(50px);
                letter-spacing: rem(7px);
                line-height: 1.45;
            }

            .colour-bg-text-leading:not(.passion-text) {
                line-height: 2.21;

                @include mq('lg') {
                    line-height: 1.81;
                }
            }
        }

        /* main & study header */
        &.medium-size {
            font-size: rem(20);
            line-height: 1.2;

            @include mq('md') {
                font-size: rem(35);
                line-height: 1.33;
                padding: 0 rem(70);
            }

            @include mq('lg') {
                font-size: rem(70);
                line-height: 1.2;
                padding: 0 rem(60);
            }

            .colour-bg-text-leading {
                line-height: 2.02;

                @include mq('lg') {
                    line-height: 1.682;
                }
            }
        }

        /* homepage header */
        &.large-size {
            font-size: rem(30px);
            line-height: 1;

            @include mq('md') {
                font-size: rem(50px);
            }

            @include mq('lg') {
                font-size: rem(70px);
            }

            .colour-bg-text-leading {
                line-height: 1.7;

                @include mq('lg') {
                    line-height: 1.56;
                }
            }
        }

        &.secondary-font {
            @apply font-headingBold;
            @apply tracking-normal;

            @include mq('lg') {
                font-size: rem(90px);
            }
        }
    }


        .event-heading {
            letter-spacing: normal !important;
        }


    h2.subtitle,
    .event-title {
        font-size: rem(30px);
        line-height: 1.2;

        @apply font-headingBold;
        @apply max-w-px-1200;
        @apply mx-auto;

        @include mq('md') {
            font-size: rem(50px);
            line-height: 1;
        }

        @include mq('lg') {
            font-size: rem(90px);
        }

        .colour-bg-text-leading {
            line-height: 1.63;

            @include mq('lg') {
                line-height: 1.56;
            }
        }
    }


    .image-banner {
        height: calc(100vh - 80px);

        @include mq('lg') {
            height: calc(100vh - 96px);
        }
    }

    .intro-text {

        p,
        span {
            font-family: inherit;
            color: inherit;
            font-size: rem(18px);
            line-height: 1.56;

            @include mq('md') {
                font-size: rem(20px);
                line-height: 1.6;
            }
        }
    }

    /* stylelint-enable */

    // youtube video
    .video-background {
        overflow: hidden;
        position: relative;
        width: 100vw;
        height: calc(100vh - 80px);

        @include mq('lg') {
            height: calc(100vh - 96px);
        }

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 100vh;
            transform: translate(-50%, -50%);

            @media (min-aspect-ratio: 16/9) {
                height: 56.25vw;
            }

            @media (max-aspect-ratio: 16/9) {
                width: 177.78vh;
            }
        }

        &__player {
            iframe {
                top: 0;
            }
        }
    }

    .header-bottom-media {
        img {
            height: rem(215);

            @apply object-cover;

            @include mq('md') {
                height: rem(380);
            }

            @include mq('lg') {
                height: rem(610);
            }
        }

        .video-background {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: none;
            }

            &__player {
                iframe {
                    top: 0;
                }
            }
        }
    }

    // backgrounds
    .bg-image-50 {
        height: 50em;
    }
}
