// scss-docs-start container-max-widths
$container-max-widths: (
    xs: theme('screens.sm'),
    sm: 540px,
    md: 720px,
    lg: 1440px,
);

$grid-breakpoints: (
    xs: 0,
    sm: theme('screens.sm'),
    md: theme('screens.md'),
    lg: theme('screens.lg'),
    xl: theme('screens.xl'),
    2xl: theme('screens.2xl'),
);

$base-font-size: 16px;

/*  you can use the converter like this
.component {
    font-size: rem(14px); // or rem(14)
}
*/

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($base-font-size)}rem;
}

@mixin mq($width, $type: min) {
    @if map_has_key($grid-breakpoints, $width) {
        $width: map_get($grid-breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin section-gap($value: $baseline, $ratio: 4) {
    padding-top: $value;
    padding-bottom: $value;

    @include mq(md) {
        padding-top: $value * $ratio;
        padding-bottom: $value * $ratio;
    }
}
