#common-footer {
    background-color: #000000;

    a {
        text-decoration: underline;
    }

    .green-border {
        color: #216e31;
        border-bottom: 1px solid;
        border-color: #216e31;
    }

    .grey-bar {
        border-left: 2px solid;
        border-color: grey;
        margin-left: 15px;
        padding-left: 15px;

        @media (max-width: theme('screens.lg')) {
            border: none;
        }
    }

    .cta-btn {
        background-color: #216e31;
        color: #FFFFFF;
        padding: 0.6rem 0.8rem;
        font-size: 1.1rem;
        margin-left: 20px;
        text-decoration: none;
        line-height: 1.25rem;
    }

    @media (max-width: theme('screens.lg')) {
        .justify-between {
            justify-content: unset;
            flex-wrap: wrap;
            div {
                text-align: center;
                width: 100%;
                display: block;
            }
            img {
                margin: auto;
                margin-top: 25px;
            }
        }

        .mobile-wrap {
            flex-wrap: wrap;
            text-align: center;

            div {
                margin: auto;
            }
            img {
                margin: auto;
                margin-bottom: 15px;
            }
        }
    }

}
