#programme-page {

    ul,
    ol {
        @apply mb-5;
    }

    ul {
        li {
            padding-left: 1.75rem;
            position: relative;

            @apply body;

            &::before {
                content: "\2014";
                position: absolute;
                left: 0;
            }

            ul,
            ol {
                @apply mb-0;
            }

            ol li {
                &::before {
                    content: none;
                }
            }
        }
    }

    ol {
        list-style: auto;
        padding-left: 1.25rem;

        @apply body;

        ol {
            list-style-type: lower-alpha;

            @apply mb-0;
        }

        ul,
        ol {
            @apply mb-0;
        }

        li {
            padding-left: 0.5rem;

            ul li {
                padding-left: 1.75rem;
            }
        }
    }

    .programme-boxes {
        min-height: 8rem;

        @apply h-full;

        @media (min-width: theme("screens.sm")) {
            min-height: 13rem;
        }
    }

    .elementgenericcontent {
        padding-top: 0;
        padding-bottom: rem(32);
    }
}
